<section>
  <div class="container" *ngIf="trace">
    <div class="row mb-3 mbr-justify-content-center">
      <h1 class="mbr-fonts-style mbr-bold mbr-section-title1 display-4">{{ title }}</h1>
    </div>

    <div class="row mbr-justify-content-center">

      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-desktop fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">TCR Trace</h2>
            <pre>{{ trace }}</pre>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-desktop fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">TCR Controls</h2>
            TODO
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
