<nav class="navbar sticky-top px-3 navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand mb-0 h1" href="#">TCR</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/session">Session</a>
      <a class="nav-item nav-link" routerLink="/console">Console</a>
      <a class="nav-item nav-link" routerLink="/about">About</a>
    </div>
  </div>
  <div>
    <app-tcr-timer></app-tcr-timer>
  </div>
</nav>
