@if (role) {
  <div (click)="toggleRole(role)"
       [ngClass]="{
                'navigator-on': role.active && role.name === 'navigator',
                'driver-on' : role.active && role.name === 'driver',
                'role-off': !role.active}"
       data-testid="role-component"
       class="wrap">
    <div class="ico-wrap">
      @if (role.name === 'navigator') {
        <fa-icon [icon]="['fas', 'compass']" class="mbr-iconfont" data-testid="role-icon"></fa-icon>
      }
      @if (role.name === 'driver') {
        <fa-icon [icon]="['fas', 'keyboard']" class="mbr-iconfont" data-testid="role-icon"></fa-icon>
      }
    </div>
    <div class="text-wrap vcenter">
      <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5" data-testid="role-label">{{ role.description }}</h2>
    </div>
  </div>
}
