
.wrap {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
}

.navigator-on {
  background: lightblue;
}

.navigator-on:hover {
  background: #0d6efd;
  color: white;
}

.driver-on {
  background: lightgreen;
}

.driver-on:hover {
  background: #20c997;
  color: white;
}

.role-off {
  background: white;
}

.role-off:hover {
  background: lightgray;
  color: white;
}

.ico-wrap {
  margin: auto;
}

.mbr-iconfont {
  font-size: 4.5rem !important;
  color: #313131;
  margin: 1rem;
  padding-right: 1rem;
}

.vcenter {
  margin: auto;
}

.mbr-section-title3 {
  text-align: left;
}

h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.display-5 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
}

.mbr-bold {
  font-weight: 700;
}

p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 25px;
}

.display-6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
}
