/* TcrSessionInfoComponent's private CSS styles */

:host {
  display: block;
  background-color: lightgray;
  padding: .5em;
  color: black;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.12);
}

:host caption {
  text-align: left;
  font-style: italic;
  font-weight: bold;
}

:host th {
  text-align: left;
}

label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: .5rem;
  width: 20em;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
