@if (timer) {
  <div class="timer-off wrap vcenter px-2 py-0"
       [ngStyle]="{'color': fgColor}"
       (click)="getTimer()"
       data-testid="timer-component">
    @if (timer.state === 'timeout') {
      <fa-icon [icon]="['fas', 'circle-exclamation']" class="vcenter px-2 py-0" style="font-size:36px" data-testid="timer-icon"></fa-icon>
    }
    @if (timer.state !== 'timeout') {
      <fa-icon [icon]="['fas', 'clock']" class="vcenter px-2 py-0" style="font-size:36px" data-testid="timer-icon"></fa-icon>
    }
    <h2 class="mbr-bold display-5 px-2 py-0" data-testid="timer-label">{{ remaining | formatTimer }}</h2>
  </div>
}
