# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
max_line_length = 80

[*.js]
max_line_length = 80

[*.json]
max_line_length = off

[*.yml]
max_line_length = off

[*.yaml]
max_line_length = off

[*.md]
max_line_length = off

[*.html]
max_line_length = off

[*.css]
max_line_length = off

[*.scss]
max_line_length = off

[*.less]
max_line_length = off

[*.xml]
max_line_length = off

[*.svg]
max_line_length = off

[*.toml]
max_line_length = off


