<section>
  <div class="container">

    <div class="row mbr-justify-content-center">

      <div class="col-lg-6 mbr-col-md-10" (click)="navigateTo('/session')">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-laptop fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Session</h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Show information about current TCR session</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mbr-col-md-10" (click)="navigateTo('/about')">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-question-circle fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">About</h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Click here if you would like to know more about TCR</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mbr-col-md-10" (click)="navigateTo('/todo1')">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-puzzle-piece fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Free Spot 1</h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mbr-col-md-10" (click)="navigateTo('/todo2')">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-puzzle-piece fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Free Spot 2</h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">Lorem Ipsum is simply dummy text of the printing and
              typesetting industry. Lorem Ipsum</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
