name: Add contributors
on:
  #  push:
  #    branches: [ main ]
  schedule:
    # once a week (Saturday 5:30)
    - cron: '30 5 * * 6'
  workflow_dispatch:
    inputs:

jobs:
  add-contributors:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v3
      - uses: BobAnkh/add-contributors@master
        with:
          REPO_NAME: ${{github.repository}}
          CONTRIBUTOR: '## Contributors'
          COLUMN_PER_ROW: '6'
          ACCESS_TOKEN: ${{secrets.GITHUB_TOKEN}}
          IMG_WIDTH: '100'
          FONT_SIZE: '14'
          PATH: '/README.md'
          COMMIT_MESSAGE: 'Update contributor list in README.md'
          AVATAR_SHAPE: 'round'
