name: Go lint
on:
  push:
    tags:
      - v*
  workflow_dispatch:
    inputs: { }

jobs:
  golangci:
    strategy:
      matrix:
        go: [ '1.24' ]
        os: [ macos-latest, windows-latest, ubuntu-latest ]
    name: lint
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
          check-latest: true
          cache-dependency-path: src/go.mod

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          # Required: the version of golangci-lint is required and must be specified
          # without patch version: we always use the latest patch version.
          version: v2.0
          # Optional: working directory, useful for mono-repos
          working-directory: src

          # Optional: golangci-lint command line arguments.
          args: --build-tags=test_helper

          # Optional: show only new issues if it's a pull request. The default value is `false`.
          # only-new-issues: true
